{% extends base.html %}

{% block head %}
<script type="text/javascript" src="/static/lib/csv.js/csv.js"></script>
<script type="text/javascript" src="/static/lib/marked/marked.js"></script>
<script type="text/javascript" src="/static/js/marked-ext.js"></script>

<script type="text/javascript" src="/static/lib/editormd/lib/prettify.min.js"></script>
<script type="text/javascript" src="/static/lib/editormd/editormd.js"></script>

<link rel="stylesheet" href="/static/lib/editormd/css/editormd.preview.css" />

<link href="/static/lib/photoswipe/photoswipe.css?v=4.1.3-1.0.4" rel="stylesheet" />
<link href="/static/lib/photoswipe/default-skin/default-skin.css?v=4.1.3-1.0.4" rel="stylesheet" />

<script src="/static/lib/photoswipe/photoswipe.js?v=4.1.3-1.0.4"></script>
<script src="/static/lib/photoswipe/photoswipe-ui-default.min.js?v=4.1.3-1.0.4"></script>

{% if path.endswith(".py") %}
<script type="text/javascript" src="/static/lib/codemirror/mode/python.js"></script>
{% end %}
{% if path.endswith(".js") %}
<script type="text/javascript" src="/static/lib/codemirror/mode/javascript.js"></script>
{% end %}
{% if path.endswith(".php") %}
<script type="text/javascript" src="/static/lib/codemirror/mode/php.js"></script>
{% end %}
{% if path.endswith(".css") %}
<script type="text/javascript" src="/static/lib/codemirror/mode/css.min.js"></script>
{% end %}

<style>
.CodeMirror {
    width: 60rem;
    font-size:16px;
    height: auto;
}

#markdown-input {
    font-family: monospace;
}

.markdown-output-div {
    overflow: auto;
}

</style>
{% end %}

{% block body %}
    {% init path = "" %}
    {% init error = "" %}
    {% init embed = False %}

    {% if error != "" %}
    <div class="col-md-12 error">
        {{?error}}
    </div>
    {% end %}

    <div class="col-md-12">
        <span id="result" style="color:green"></span>
    </div>

    <div class="grid-card">
        {% if _is_admin and path != "" %}
            {% set fs_path_option = '<a class="float-right" href="/code/edit?path={}&embed={}">[编辑]</a>'.format(path, embed) %}
            {% include "mod_fs_path.html" %}
        {% end %}
        
        <div id="epiceditor" class="row">
            <div id="markdown-input-div" class="col-md-6">
                <textarea id="markdown-input" class="form-control" name="content" rows=50>{{?content}}</textarea>
            </div>

            <div id="markdown-output-div" class="col-md-12 markdown-output-div">

            </div>
        </div>
    </div>
   <!--图片预览容器-->

   <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="pswp__loading-indicator"><div class="pswp__loading-indicator__line"></div></div> -->

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip">
                    <!-- <a href="#" class="pswp__share--facebook"></a>
                    <a href="#" class="pswp__share--twitter"></a>
                    <a href="#" class="pswp__share--pinterest"></a>
                    <a href="#" download class="pswp__share--download"></a> -->
                </div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center">
                </div>
            </div>
        </div>

    </div>


</div>
    

<script>
    function preview() {
        if (!$("#markdown-input-div").hasClass("hide")) {
            $("#markdown-input-div").addClass("hide");
            $("#markdown-output-div").removeClass("col-md-6").addClass("col-md-12");
        }
    }
    //editormd.testPlugin();

    $(function () {
        var testEditormdView;
        var old_content = $("#markdown-input-div").val();
        var content = $("#markdown-input").val();
        /*
        setInterval(function () {
            var input = $("#markdown-input").val();
            // not modified
            if (input == old_content) {
                return;
            }
            old_content = input;
            
            marked.showMenu = false;
            //$("#markdown-output-div").html(marked.parse(input));
            testEditormdView = editormd.markdownToHTML("markdown-output-div", {markdown:input,});
        }, 200);
        */
        testEditormdView = editormd.markdownToHTML("markdown-input-div", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    //tex             : true,  // 默认不解析
                    //flowChart       : true,  // 默认不解析
                    //sequenceDiagram : true,  // 默认不解析
                    onload               : function() {
                        alert("onload ");
                        editormd.initPhotoSwipe('.markdown-input-div');
                    },
                    onpreviewed          : function() {alert("onpreviewed");},

                });

        //preview();
        //Testpreview();
        testEditormdView.initPhotoSwipe();
        
    })

    
    function Testpreview() {
        editormd.testPlugin('helloWorld');
    }
</script>

{% end %}